<div class="card">
    <div class="card-header">
        Danh sách chủ pet
    </div>
    <div class="card-body">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Họ tên</th>
                <th>Số điện thoại</th>
                <th>Facebook</th>
                <th>Email</th>
                <th>Trạng thái</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let owner of petService.pet.owners">
                <td>{{owner.name}}</td>
                <td>{{owner.phone_number}}</td>
                <td>{{owner.facebook}}</td>
                <td>{{owner.email}}</td>
                <td>{{owner.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>