<form novalidate #form="ngForm" class="form-horizontal">
    <h6 *ngIf="!petService.pet.id"><i class="fa fa-user"></i> Chủ thú</h6>
    <div *ngIf="!petService.pet.id" class="form-group row">
        <label class="col-md-3 col-form-label" for="owner_name">
            Tên chủ nhân <code class="highlighter-rouge">*</code>
        </label>
        <div class="col-md-9">
            <input [(ngModel)]="petService.pet.owner_name" #owner_name="ngModel" type="text" id="owner_name"
                   name="owner_name"
                   required
                   class="form-control"
                   placeholder="Tên chủ nhân">
            <div [hidden]="owner_name.valid || owner_name.untouched">
                                <span *ngIf="owner_name.errors && owner_name.errors.required"
                                      class="badge badge-warning">
                                    Phải nhập Tên chủ thú!
                                </span>
            </div>
        </div>
    </div>
    <div *ngIf="!petService.pet.id" class="form-group row">
        <label class="col-md-3 col-form-label" for="owner_phone">
            Số điện thoại <code class="highlighter-rouge">*</code>
        </label>
        <div class="col-md-9">
            <input [(ngModel)]="petService.pet.owner_phone" #owner_phone="ngModel" type="text" id="owner_phone"
                   name="owner_phone"
                   required
                   class="form-control"
                   placeholder="Số điện thoại">
            <div [hidden]="owner_phone.valid || owner_phone.untouched">
                                <span *ngIf="owner_phone.errors && owner_phone.errors.required"
                                      class="badge badge-warning">
                                    Phải nhập Số điện thoại chủ thú!
                                </span>
            </div>
        </div>
    </div>
    <div *ngIf="!petService.pet.id" class="form-group row">
        <label class="col-md-3 col-form-label" for="facebook">
            Facebook
        </label>
        <div class="col-md-9">
            <input [(ngModel)]="petService.pet.facebook" #facebook="ngModel" type="text" id="facebook"
                   name="facebook"
                   class="form-control"
                   placeholder="Facebook">
        </div>
    </div>
    <div *ngIf="!petService.pet.id" class="form-group row">
        <label class="col-md-3 col-form-label" for="email">
            Email
        </label>
        <div class="col-md-9">
            <input [(ngModel)]="petService.pet.email" #email="ngModel" type="text" id="email"
                   name="email"
                   class="form-control"
                   placeholder="Email">
        </div>
    </div>
    <hr *ngIf="!petService.pet.id">
    <h6 *ngIf="!petService.pet.id"><i class="fa fa-paw"></i> Thông tin thú</h6>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="name">
            Tên thú cưng <code class="highlighter-rouge">*</code>
        </label>
        <div class="col-md-9">
            <input [(ngModel)]="petService.pet.name" #name="ngModel" type="text" id="name"
                   name="name"
                   required
                   class="form-control"
                   placeholder="Tên thú cưng">
            <div [hidden]="name.valid || name.untouched">
                                <span *ngIf="name.errors && name.errors.required"
                                      class="badge badge-warning">
                                    Phải nhập Tên thú cưng!
                                </span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="pet_type_id">
            Loại thú cưng <code class="highlighter-rouge">*</code>
        </label>
        <div class="col-md-9">
            <select [(ngModel)]="petService.pet.pet_type_id" #pet_type_id="ngModel" required class="form-control"
                    name="pet_type_id" id="pet_type_id">
                <option value="null">Chọn loại thú cưng ...</option>
                <option *ngFor="let type of types" [value]="type.id">
                    {{type.name}}
                </option>
            </select>
            <div [hidden]="pet_type_id.valid || pet_type_id.untouched">
                                <span *ngIf="pet_type_id.errors && pet_type_id.errors.required"
                                      class="badge badge-warning">
                                    Phải chọn loại thú cưng!
                                </span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="pet_breed_id">
            Giống
        </label>
        <div class="col-md-9">
            <select [(ngModel)]="petService.pet.pet_breed_id" class="form-control"
                    name="pet_breed_id" id="pet_breed_id">
                <option value="null">Chọn giống ...</option>
                <option *ngFor="let breed of breeds" [value]="breed.id">
                    {{breed.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="gender">
            Giới tính
        </label>
        <div class="col-md-9">
            <select [(ngModel)]="petService.pet.gender" class="form-control"
                    name="gender" id="gender">
                <option value="null">Chọn giới tính ...</option>
                <option *ngFor="let gender of genders" [value]="gender.id">
                    {{gender.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="colour">Màu lông</label>
        <div class="col-md-9">
            <input [(ngModel)]="petService.pet.colour" type="text" id="colour"
                   name="colour"
                   class="form-control"
                   placeholder="Màu lông">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="microchip">Microchip</label>
        <div class="col-md-9">
            <input [(ngModel)]="petService.pet.microchip" type="text" id="microchip"
                   name="microchip"
                   class="form-control"
                   placeholder="Microchip">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="special_markings">Điểm đặc biệt</label>
        <div class="col-md-9">
            <input [(ngModel)]="petService.pet.special_markings" type="text" id="special_markings"
                   name="special_markings"
                   class="form-control"
                   placeholder="Điểm đặc biệt">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="birth_day">Ngày sinh</label>
        <div class="col-md-9">
            <input [(ngModel)]="petService.pet.birth_day_vi" bsDatepicker
                   [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }"
                   placement="bottom left"
                   type="text" id="birth_day"
                   name="birth_day"
                   class="form-control"
                   placeholder="Ngày sinh">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="dead_day">Ngày mất</label>
        <div class="col-md-9">
            <input [(ngModel)]="petService.pet.dead_day_vi" bsDatepicker
                   [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue' }"
                   placement="bottom left"
                   type="text" id="dead_day"
                   name="dead_day"
                   class="form-control"
                   placeholder="Ngày mất">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="age">Tuổi</label>
        <div class="col-md-9">
            <input [(ngModel)]="petService.pet.age" type="number" min="0" id="age"
                   name="age"
                   class="form-control"
                   placeholder="Tuổi">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="story">Tiểu sử <code class="highlighter-rouge">*</code></label>
        <div class="col-md-9">
            <textarea [(ngModel)]="petService.pet.story" #story="ngModel" id="story" name="story" rows="3"
                      class="form-control"
                      placeholder="Tiểu sử ..."></textarea>
            <div [hidden]="story.valid || story.untouched">
                <span *ngIf="story.errors && story.errors.required"
                      class="badge badge-warning">
                    Phải nhập tiểu sử thú cưng!
                </span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="diary">Nhật ký</label>
        <div class="col-md-9">
            <textarea [(ngModel)]="petService.pet.diary" id="diary" name="diary" rows="3"
                      class="form-control"
                      placeholder="Nhật ký ..."></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="guest_book">Lưu bút</label>
        <div class="col-md-9">
            <textarea [(ngModel)]="petService.pet.guest_book" id="guest_book" name="guest_book" rows="3"
                      class="form-control"
                      placeholder="Lưu bút ..."></textarea>
        </div>
    </div>
</form>