<form novalidate #form="ngForm" class="form-horizontal">
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="name">
            Họ và tên <code class="highlighter-rouge">*</code>
        </label>
        <div class="col-md-9">
            <input [(ngModel)]="ownerService.owner.name" #name="ngModel" type="text" id="name"
                   name="name"
                   required
                   class="form-control"
                   placeholder="Họ và tên">
            <div [hidden]="name.valid || name.untouched">
                                <span *ngIf="name.errors && name.errors.required"
                                      class="badge badge-warning">
                                    Phải nhập Họ và Tên!
                                </span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="phone_number">
            Số điện thoại <code class="highlighter-rouge">*</code>
        </label>
        <div class="col-md-9">
            <input [(ngModel)]="ownerService.owner.phone_number" #phone_number="ngModel" type="text" id="phone_number"
                   name="phone_number"
                   required
                   class="form-control"
                   placeholder="Số điện thoại">
            <div [hidden]="phone_number.valid || phone_number.untouched">
                                <span *ngIf="phone_number.errors && phone_number.errors.required"
                                      class="badge badge-warning">
                                    Phải nhập Số điện thoại chủ thú!
                                </span>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="facebook">
            Facebook
        </label>
        <div class="col-md-9">
            <input [(ngModel)]="ownerService.owner.facebook" #facebook="ngModel" type="text" id="facebook"
                   name="facebook"
                   class="form-control"
                   placeholder="Facebook">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label" for="email">
            Email
        </label>
        <div class="col-md-9">
            <input [(ngModel)]="ownerService.owner.email" #email="ngModel" type="text" id="email"
                   name="email"
                   class="form-control"
                   placeholder="Email">
        </div>
    </div>
</form>